* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-family: "Tahoma";
        font-weight: 200;
        cursor:default;
}

/* --- Side Bar Things --*/
/* --                  --*/
/* ----------------------*/
#mySidebar {
    width:130px;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
    transition: all 500ms ease;
    background-color:#141421;
    position: fixed;
}

/* --- Nav Menu Items  --*/
/* --                  --*/
/* ----------------------*/

#barTitle{
    font-size:35px;
    color: #E5E7E9;
    margin-left:10px;
    margin-bottom:5px;
    cursor: default;
    transition: none;

}

#caret{
    display:inline-block;
    cursor:pointer;
    font-size:16px;
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    transition: all 500ms ease-out;
}

.change3 #caret{
    -webkit-transform: rotate(180deg);
    transform:rotate(180deg);
}



.allMenuItems ul{
    background-color:#3F1C5D
    width:130px;
}

.allMenuItems li{
    cursor:pointer;
    width:130px;
    font-size:20px;
    text-align: left;
    background: #141421;
    background-size: 200% 100%;
    background-position:right bottom;
    transition:background 700ms ease;
}

.allMenuItems li.one{
    background: linear-gradient(to right, #3F1C5D 50%, #141421 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:background 700ms ease;
}

.allMenuItems li.one:hover{
    background-position:left bottom;
}

.allMenuItems li.two{
    background: linear-gradient(to right, #5B3A78 50%, #141421 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:background 700ms ease;
}

.allMenuItems li.two:hover{
    background-position:left bottom;
}

.allMenuItems li.three{
    background: linear-gradient(to right, #784B9F 50%, #141421 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:background 700ms ease;
}

.allMenuItems li.three:hover{
    background-position:left bottom;
}

.allMenuItems li.four{
    background: linear-gradient(to right, #9C61D0 50%, #141421 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:background 700ms ease;
}

.allMenuItems li.four:hover{
    background-position:left bottom;
}

.allMenuItems li.five{
    background: linear-gradient(to right, #B26BF0 50%, #141421 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:background 700ms ease;
}

.allMenuItems li.five:hover{
    background-position:left bottom;
}

.allMenuItems li.six{
    background: linear-gradient(to right, #D28DF2 50%, #141421 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:background 700ms ease;
}

.allMenuItems li.six:hover{
    background-position:left bottom;
}

.navItem {
    display:inline-block;
    text-decoration: none;
    color: #E5E7E9;
    cursor:pointer;
    padding-top:5px;
    padding-bottom: 5px;
    width:100%;
}

.navItem span{
    margin-left:10px;
    cursor:pointer;
}

.navItem .projectPanel{
    margin-left:10px;
    cursor:pointer;
}

#dropdownBlock{
    position:relative;
    background-color: grey;
    text-decoration: none;
}

#dropdownBlock li {
    cursor:pointer;
    width:130px;
    font-size:17px;
    text-align: left;
    background: grey;
    background-size: 200% 100%;
    background-position:right bottom;
    transition:background 700ms ease;
}

#dropdownBlock li.three {
    background: linear-gradient(to right, #784B9F 50%, #424949 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:background 700ms ease;
}

#dropdownBlock li.three:hover{
    background-position:left bottom;
}

.dropdownItem {
    display:inline-block;
    text-decoration: none;
    color: #E5E7E9;
    cursor: pointer;
    padding-top:5px;
    padding-bottom: 5px;
    width:100%;
}

.dropdownItem span{
    margin-left:10px;
    cursor: pointer;
}



/* --- Main Site Things --*/
/* --                   --*/
/* -----------------------*/

#myname{
    animation-name: fadeInName;
    animation-duration: 1000ms;
    transition: all 500ms ease-out;
}

/*
h1 {
  font: "Pacifico", san-serif;
  font-size:80px;
  color: #2b2b2b;
  text-shadow: .8px .8px 0px rgba(0,0,0,1.5), 3px 3px 0px rgba(0,0,0,1.2), 6px 6px 0px rgba(0,0,0,0.7), 8px 8px 0px rgba(0,0,0,0.7),
                10px 10px 0px rgba(0,0,0,0.7), 12px 12px 0px rgba(0,0,0,0.7), 29px 29px 0px rgba(0,0,0,0.3);
  text-align:center;
  color: #E5E7E9;
  padding-top: 50px;
  padding-bottom: 20px;
}
*/

h1 {
  font-family: "Pacifico", san-serif;
  font-size:80px;
  color: #2b2b2b;
  text-shadow: .8px .8px 0px rgba(0,0,0,1.5), 3px 3px 0px rgba(0,0,0,1.2), 6px 6px 0px rgba(0,0,0,0.7), 8px 8px 0px rgba(0,0,0,0.7),
                10px 10px 0px rgba(0,0,0,0.7), 12px 12px 0px rgba(0,0,0,0.7), 29px 29px 0px rgba(0,0,0,0.3);
  text-align:center;
  color: #E5E7E9;
  padding-top: 85px;
  padding-bottom: 50px;
}


/*
.section h2 {
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  font-size:100px;
  color: #2b2b2b;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.7), 3px 3px 0px rgba(0,0,0,0.7), 14px 14px 0px rgba(0,0,0,0.3);
  text-align:center;
  color: #E5E7E9;
  padding-top: 20px;
  padding-bottom: 20px;
}
*/

h2 {
  font-family: "Pacifico", san-serif;
  font-size:80px;
  color: #2b2b2b;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.3), 8px 8px 0px rgba(0,0,0,0.08);
  text-align:center;
  color: #E5E7E9;
  padding-top: 20px;
  padding-bottom: 20px;
}


p{
    font-size:20px;
    margin:15px;
    padding:8px;
    color:#E5E7E9;
    text-indent: 2em;
}

#main {
    background-color:grey;
    transition: all 500ms ease;
    width:100%;
    height:100%
    position:fixed;
}

#overlay{
    transition: all 500ms ease;
}

.section{
    background-color: #3F1C5D;
}

.section2{
    background-color:grey;
}

.colorBlock1{
    background-color: #E5E7E9;
    border-radius:18px;
    width:88%;
    margin-left:auto;
    margin-right:auto;
    padding:15px;
}

.colorBlock2{
    background-color: #2E2D2F;
    border-radius:18px;
    width:88%;
    margin-left:auto;
    margin-right:auto;
    padding:15px;
}

.colorBlock3{
    background-color: grey;
    border-radius:18px;
    width:88%;
    margin-left:auto;
    margin-right:auto;
    padding:15px;
}

.colorBlockSkills{
    background-color: grey;
    border-radius:18px;
    width:88%;
    margin-left:auto;
    margin-right:auto;
    padding:15px;
    text-align:center;
}

#buttonContainer {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    padding: 20px 25px;
    margin: auto;
    float: left;
    animation-name: fadeIn;
    animation-duration: 2300ms;
    transition: all 500ms ease;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #E5E7E9;
    margin: 6px 0;
    transition: 0.4s;
    border-radius:50px;
    opacity:.9;
    cursor: pointer;
}

.change2 .bar1{
    transform:translate(0px, -5px) ;
}

.change2 .bar3{
    transform:translate(0px, 5px) ;
}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


/* ---      Me          --*/
/* --                   --*/
/* -----------------------*/
.imageContainer{
    text-align:center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.imgCircle{
    border-radius:50%;
}


/* ---    About me      --*/
/* --                   --*/
/* -----------------------*/



/* ---    Projects      --*/
/* --                   --*/
/* -----------------------*/
.projectButtonContainer{
    width: 80%;
    height:40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.projectButtonContainer button{
    background-color:grey;
    border: 1px solid #2E2D2F;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    width:25%;
    display: inline-block;
    float: left;
    color:#E5E7E9;
    font-size:4vw;
    text-align:center;
    margin-bottom:0px;
}

/*
.projectButtonContainer button:hover{
    background-color: #f4511e;
} */

.projectButtonContainer button:last-child{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.projectButtonContainer button:first-child{
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}

.projectdiv {
    display:inline-block;
}

.projectPara {
    font-size:20px;
    margin: 2px;
    margin-left:10px;
    color:#E5E7E9;
    text-indent:0;
}

.projectPara button{
    text-align:center;
    margin-left:100px;
}

.projectTable{
    width:100%;
    margin-bottom:10px;
}

.tableHeader span{
    font-size:40px;
    margin: 2px;
    color:#E5E7E9;
    text-indent:0;
    text-transform:uppercase;
}

.tableHeader{
    font-size:35px;
    margin: 2px;
    margin-bottom:8px;
    color:#E5E7E9;
    text-indent:0;
    text-transform:uppercase;
}

.tableText{
    width:75%;
}

.tableText p{
    font-size:18px;
    margin-top:5px;
}

.projectBlock p{
    font-size:18px;
    margin-top:5px;
}

.tableStuff{
    width:25%;
    text-align: center;
}

.buttonProject {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  padding: 5px;
  width: 85px;
  transition: all 0.7s;
  cursor: pointer;
}

.buttonProject span {
  cursor: pointer;
  position: relative;
  transition: 0.7s;
}

.buttonProject span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.buttonProject:hover span {
  padding-right: 25px;
}

.buttonProject:hover span:after {
  opacity: 1;
  right: 0;
}

.codePic{
    height: 80%;
    width:90%;
}

/* ---      Resume      --*/
/* --                   --*/
/* -----------------------*/
#resume{
    margin:30;
    align:center;

}

.resumeButtonContainer{
    margin:0 auto;
    padding-bottom:40px;
    text-align: center;
}

.resumeButtonDiv{
    display: inline-block;
    padding-top:0px;
    text-align: center;
}

.buttonResume {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.7s;
  cursor: pointer;
  margin: 5px;
}

.buttonResume span {
  cursor: pointer;
  position: relative;
  transition: 0.7s;
}

.buttonResume span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.buttonResume:hover span {
  padding-right: 25px;
}

.buttonResume:hover span:after {
  opacity: 1;
  right: 0;
}

#projectPhysics {
    background-color: #f4511e;
}

.projectBlock{
    display: none;
}

#physicsBlock{
    display: block;
}

/* ---      Skills      --*/
/* --                   --*/
/* -----------------------*/

.skillsBlock h3 {
    font-size:35px;
    color:#E5E7E9;
    margin-bottom:15px;
}

.skillsBlock h3 {
    font-size:40px;
    color:#E5E7E9;
    margin-bottom:15px;
}

.skillsBlock{
    display:inline-block;
    width:30%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    vertical-align:top;
}

.skillsBlock .skillsSubclassPics .skillsPicContainer{
    height:100px;
    width:100px;
    margin:auto;
    text-align:center;
}


.skillsBlock .skillsPic {
    height:90%;
    width:90%;
    vertical-align:center;
}

/*
#htmlPic {
    height:85%;
    width:85%;
    margin:0px 0px 0px 0px;
}

#cssPic {
    height:90%;
    width:90%;
    margin:5px 0px 0px 0px;
}

#javascriptPic {
    height:80%;
    width:80%;
    margin:10px 0px 0px 0px;
}

#jqueryPic {
    height:85%;
    width:85%;
    margin:10px 0px 0px 0px;
}

#pythonPic {
    height:93%;
    width:93%;
    margin:0px 0px 0px 0px;
}

#matlabPic {
    height:85%;
    width:85%;
    margin:10px 10px 10px 10px;
}

#githubPic {
    height:80%;
    width:80%;
    margin:10px 10px 10px 10px;
}
*/
#sasPic {
    height:75%;
    width:100%;
}


/* ---   Contact Me     --*/
/* --                   --*/
/* -----------------------*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
/*
input[type=submit] {
    font-size: 20px;
    height=100%;
    width:100%;
    background-color: #f4511e;
    color: #FFFFFF;
    padding: 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
*/
/*
input[type=submit] {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.7s;
  cursor: pointer;
  margin: 5px;
}

input[type=submit]{
  cursor: pointer;
  position: relative;
  transition: 0.7s;
}

input[type=submit]:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

input[type=submit]:hover{
  padding-right: 25px;
}

input[type=submit]:hover input[type=submit]:after {
  opacity: 1;
  right: 0;
}
*/

/*
.buttonResume {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.7s;
  cursor: pointer;
  margin: 5px;
}

.buttonResume span {
  cursor: pointer;
  position: relative;
  transition: 0.7s;
}

.buttonResume span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.buttonResume:hover span {
  padding-right: 25px;
}

.buttonResume:hover span:after {
  opacity: 1;
  right: 0;
}
*/

#gform label{
    color:#E5E7E9;
}

#submitButton{
    text-align: center;
}

.form{
    margin-bottom:0px;
}

#thankyou_message{
    text-align:center;
}

#thankyou_message span{
    text-align: center;
    font-size: 24px;
    color: #E5E7E9;
}

/* --- Coloring Things        ---*/
/* --  off white #E5E7E9       --*/
/* --  purple #633974          --*/
/*--   DrawerDark #353653      --*/
/* -----------       ------------*/

/* --- Animations            ---*/
/* --                         --*/
/* --                         --*/
/*--                          --*/

@keyframes slideRight{
    0%{background-color:#353653;
       transform:translate(-200px, 0px);}
    100%{background-color:#633974;
         transform:translate(0px, 0px);}
}

@keyframes fadeIn{
    0%{opacity:0;
       /*transform:translate(-50px, 0px)*/}
    100%{opacity:1;
         /*transform:translate(0px, 0px)*/}
}

@keyframes fadeInName{
    0%{transform:translate(0px, -300px)}
    100%{transform:translate(0px, 0px)}

}

/* ---     Fonts             ---*/
/* --                         --*/
/* --                         --*/
/*--                          --*/



@font-face {
    font-family: 'Pacifico';
    src: url('pacifico-regular-webfont.ttf') format('ttf'),
         url('pacifico-regular-webfont.woff2') format('woff2'),
         url('pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
@import url(//fonts.googleapis.com/css?family=Pacifico:300,500);

 @font-face{
    font-family: Pacifico;
    src: url("Pacifico.ttf") format("ttf");
 }
*/


/* ---      Media            ---*/
/* --                         --*/
/* --                         --*/
/*--                          --*/

@media only screen and (max-width: 460px) {
    h1{
          font-size:65px;
    }

    h2{
          font-size:65px;
    }

    .projectBlock p{
        font-size:15px;
        margin:8px;
        padding:5px;
        color:#E5E7E9;

    }

    .tableText p{
        font-size:15px;
        margin:8px;
        padding:5px;
        color:#E5E7E9;


    }

    p{
        text-indent:.95em;
    }

    td{
        font-size:15px;
        margin:8px;
        padding:5px;
        color:#E5E7E9;
        text-indent: 0em;

    }

    .skillsBlock h3{
        font-size:26px;
    }

    .skillsBlock h3 span{
        font-size:30px;
    }

    .tableHeader{
        font-size:26px;
    }

    .tableHeader span{
        font-size:30px;
    }

    .projectButtonContainer{
        height:40px;
    }

}

@media only screen and (min-width: 650px) {
    .projectButtonContainer button{
        font-size:26px;
    }

    h1{
          font-size:100px;
    }

    h2{
          font-size:100px;
    }

    .projectButtonContainer{
        height:55px;
    }
}

@media only screen and (max-width: 800px) {
    .skillsBlock{
        display:block;
        width:100%;
    }

    .skillsBlock .skillsSubclassPics .skillsPicContainer{
        display:inline-block;
    }

}


